{% extends 'demoapp/base.html' %}


{% block content %}
{% load static %}

<br>
<b> Create customer </b>



<form method="POST">
    {% csrf_token %}
<label> name:</label> <input type='text' id="name" name="name" required>
<br>
<label> mobile number:</label> <input type='text' id="phone" name="phone" required>
<br>
<label> email:</label> <input type='email' id="email" name="email" required>
<br>
    <label> address: </label> <input type="text", id="address" name="address">
    <br>
<label> pin_code:</label> <input type='text' id="pin_code" name="pin_code" required>
    <button type="submit"> Save </button>
</form>


<br>
<img src="{% static 'images/nature.jpeg' %}" >

<img src="{% static 'images/download.jfif' %}" >

<br>

<img src="{% static 'images/tata-tigor-exterior-9.jpg' %}" >

{% endblock %}