{% extends 'demoapp/base.html' %}

{% load static %}
{% load custom_tags %}

{% block content %}
<br>

<h1 class="myH1class"> This page deals with customer data</h1>

{% now "D d M Y" %}
<h2>Current Data and Time: {{ current_date| date:"d-m-Y h:i A" }}</h2>

<b class="myBclass"> first_name: {{name | modify_name:'first_name' }}</b>
<br>
<b class="myBclass"> last_name: {{name | modify_name:'last_name' | modify_name:'title_case'}}</b>
<br>
<b class="myBclass"> full name: {{name | modify_name:'title_case'}}</b>

<br>
{{'INDIA' | get_chars:2}}
<br>
{{'INDIA' | get_chars:3}}
<br>
<b> List customers</b>

{% for customer in customers %}
<li> {{ customer.name|capfirst}}  ---> {{customer.mobile_number }}</li>


{% endfor %}


<table border="1">
    <tr>
        <th> Name</th>
        <th> Mobile Number</th>
        <th> Address</th>
        <th> pin code</th>
    </tr>
    {% for cust in customers %}
    <tr>
        <td> {{ cust.name | capfirst}}</td>
        <td> {{ cust.mobile_number }}</td>
        <td> {{ cust.address | upper }}</td>
        <td> {{ cust.pin_code }}</td>
    </tr>
    {% endfor %}
</table>



<br>

<button onclick="alertMessage();"> Click me</button>


<br>

<img src="{% static 'images/nature.jpeg' %}" >

<img src="{% static 'images/download.jfif' %}" >


{% endblock %}